section {
    padding: 10px;
}

aside {
    padding: 10px;
    width: 21%;
    float: left;
}

article {
    padding: 10px;
    width: 70%;
    float: left;
}


li:hover {
    background-color: #f0f0f0;
}

.asideLI {
    width: 60px;
    list-style: none;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    
}

.list-li {
    width: 400px;
    list-style: none;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

a.infoA {
    font-weight: bold;
    text-decoration: none;
}