.header-nav{
    display: inline-block;
}
.header-nav a{
    text-decoration: none;
}
.header-li {
    list-style: none;
    display: inline-block;
    margin-right:20px;
}

.header-li a {
    text-decoration: none;
}
