.management-li{
    display:block;
}
.del-btn{
    background-color: #dc3545;
    float: right;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.del-btn:hover{
    background-color: #EF9A9A;
}